::-webkit-scrollbar { width: 12px; height: 12px; padding: 1px; }
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment { display: none; }
::-webkit-scrollbar-track-piece { border-left: 1px solid #d2d2d2; background: #f5f5f5; }
::-webkit-scrollbar-thumb:vertical { background: rgba(0,0,0,0.2); }
::-webkit-scrollbar-thumb:horizontal { background: rgba(0,0,0,0.2); }
::-webkit-scrollbar-thumb:vertical:hover { background: rgba(0,0,0,0.4); }
::-webkit-scrollbar-thumb:horizontal:hover { background: rgba(0,0,0,0.4); }
::-webkit-scrollbar-thumb:vertical:active { background: rgba(0,0,0,0.6); }
::-webkit-scrollbar-thumb:horizontal:active { background: rgba(0,0,0,0.6); }

::selection { background: #FFEB3B; color: #000; }
*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body 
{
  font: 16px 'Arial', sans-serif;
  color: #000;
  background: #fff;
  margin: 0;
  padding: 0;
}

.animate {
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out; 
  -webkit-transition: all 0.1s ease-in-out; 
  -o-transition: all 0.1s ease-in-out; 
}

mark
{
  background: #FFEB3B;
  color: #000;
}

a { color: #2196F3; text-decoration: none; }

a:hover, 
a:focus
{ color: #1E88E5; text-decoration: underline; }


h1 { font: 5em 'Arial', sans-serif; margin: 0;}
h2 { font: 3.5em 'Arial'; margin: 0; }
h3 { font-size: 2em; margin: 5px 0 }
h4 { font-weight: bold; font-size: 1em; margin: 2px 0; }

form { width: 100%; }

input[type=text],
input[type=password],
input[type=datetime-local],
input[type=email],
textarea,
select {
  width: 100%;
  font: 1.4em 'Arial', sans-serif;
  border: 3px solid rgb(180,180,180);
  padding: 15px;
}

textarea {
  height: 120px;
  resize: none;
}

  input[type=text]:hover,
  input[type=password]:hover,
  input[type=datetime-local]:hover,
  input[type=email]:hover,
  textarea:hover,
  select:hover
  { border: 3px solid rgb(130,130,130); }

  input[type=text]:focus,
  input[type=password]:focus,
  input[type=datetime-local]:focus,
  input[type=email]:focus,
  textarea:focus,
  select:active
  { border: 3px solid #2196F3; outline: none; }

input[type=submit]
{ 
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; 
}

.btn {
  display: inline-block;
  width: auto;
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  background: #2196F4;
  border: 3px solid #2196F4;
  color: #fff;
  font-size: 1em;
}

  .btn:hover { background: #fff; color: #000; text-decoration: none;}
  .btn:active { top: 3px; }
  .btn:focus { outline: none; color: #fff; }


.btn-lg {
  padding: 15px 30px;
  font-size: 1.5em;
}

.btn-sm {
  padding: 10px 15px;
  font-size: .8em;
}

.clear { clear: both; }

table {
    width: 100%;
    background: rgb(230,230,230);
    border-spacing: 3px;
    border-collapse: separate;
}

th,
td { padding: 10px; }

th {
  font: bold 1em 'Arial', sans-serif;
  background: rgb(245,245,245);
  color: rgb(80,80,80);
}

td { background: #fff; }

.warning {
  background: #FFC107;
  color: #000;
  padding: 15px;
  margin: 15px 0;
}

.danger {
  background: #F44336;
  color: #fff;
  padding: 15px;
  margin: 15px 0;
}

.success {
  background: #4CAF50;
  color: #fff;
  padding: 15px;
  margin: 15px 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.clearfix { clear: both; }

.pull-left { float: left; }
.pull-right { float: right; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.space-xs { margin-top: 10px; }
.space-sm { margin-top: 20px; }
.space-md { margin-top: 40px; }
.space-lg { margin-top: 60px; }
.space-xl { margin-top: 100px; }

.inverse-space-xs { margin-bottom: 10px; }
.inverse-space-sm { margin-bottom: 20px; }
.inverse-space-md { margin-bottom: 40px; }
.invsere-space-lg { margin-bottom: 60px; }
.inverse-space-xl { margin-bottom: 100px; }

.margin-xs { margin: 10px; }
.margin-sm { margin: 20px; }
.margin-md { margin: 40px; }
.margin-lg { margin: 60px; }
.margin-xl { margin: 100px; }

.padding-xs { padding: 10px; }
.padding-sm { padding: 20px; }
.padding-md { padding: 40px; }
.padding-lg { padding: 60px; }
.padding-xl { padding: 100px; }

.pillow-xs { padding: 10px 0; }
.pillow-sm { padding: 20px 0; }
.pillow-md { padding: 40px 0; }
.pillow-lg { padding: 60px 0; }
.pillow-xl { padding: 100px 0; }

.no-margin { margin: 0; }